.widget.widget_uwdgh_widget_uwnews,
.widget.widget_uwdgh_widget_uwnews .uw-widget-rss {
  padding-left: 0;
}
.uwdgh-widget-uwnews ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.uwdgh-widget-uwnews ul li {
  margin-bottom: 0.875em;
}
